@page
@model ResendEmailConfirmationModel
@{
    ViewData["Title"] = "Resend email confirmation";
}

<div calss="container" id="account_container">
    <div class="row h-100 w-100 justify-content-center align-items-center">
        <div class="col col-md-7">
            <form method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="card text-center">
                    <div class="card-header">
                        <div class="card-title display-6 text-dark">@ViewData["Title"]</div>
                    </div>
                    <div class="card-body">                    
                        <div class="input-group mb-5">
                            <span class="input-group-text" id="inputGroup-username">
                                <i class="bi bi-envelope"></i>
                            </span>
                            <div class="form-floating">
                                <input asp-for="Input.Email" class="form-control" placeholder="-" aria-required="true" />
                                <label asp-for="Input.Email" class="form-label">Nome de usuário ou email</label>
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-muted">
                        <div class="mb-3">
                            <button type="submit" class="w-100 btn btn-lg btn-primary">Resend</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}
