@page "/home"

<h1>Hello, world!</h1>

Welcome to your new app.

<BSButton Color="BSColor.Primary">primary</BSButton>
<BSButton Color="BSColor.Secondary">secondary</BSButton>
<BSButton Color="BSColor.Success">success</BSButton>
<BSButton Color="BSColor.Info">info</BSButton>
<BSButton Color="BSColor.Warning">warning</BSButton>
<BSButton Color="BSColor.Danger">danger</BSButton>
<BSButton Color="BSColor.Light">light</BSButton>
<BSButton Color="BSColor.Dark">dark</BSButton>
<BSButton Color="BSColor.Default">link</BSButton>
<RadzenButton Text="Oi"></RadzenButton>

@code {
    bool IsOpen { get; set; }
    void onclick(MouseEventArgs e)
    {
        IsOpen = !IsOpen;
        StateHasChanged();
    }
}

<SurveyPrompt Title="How is Blazor working for you?" />
