@using Radzen
@using Radzen.Blazor

<div>
    <RadzenMenu Responsive="true">
        <RadzenMenuItem Text="General" Icon="home" />
        <RadzenMenuItem Text="Inputs" Icon="payment" />
        <RadzenMenuItem Text="Data" Icon="save" />
        <RadzenMenuItem Text="Containers" Icon="account_box" />
        <RadzenMenuItem Text="More" />
    </RadzenMenu>
</div>

@code {

}
