@using Radzen
@using Radzen.Blazor

<div>
    <RadzenMenu>
        <RadzenMenuItem Text="Informações" Icon="help_outline">
            <RadzenMenuItem Text="Buttons" Path="buttons" Icon="account_circle"></RadzenMenuItem>
            <RadzenMenuItem Text="Menu" Path="menu" Icon="line_weight"></RadzenMenuItem>
            <RadzenMenuItem Text="FileInput" Path="fileinput" Icon="attach_file"></RadzenMenuItem>
            <RadzenMenuItem Text="Dialog" Path="dialog" Icon="perm_media"></RadzenMenuItem>
            <RadzenMenuItem Text="Notification" Path="notification" Icon="announcement"></RadzenMenuItem>
        </RadzenMenuItem>
        <RadzenMenuItem Text="Idioma" Icon="language">
            <RadzenMenuItem Text="CheckBox" Path="checkbox" Icon="check_circle"></RadzenMenuItem>
            <RadzenMenuItem Text="TextBox" Path="textbox" Icon="input"></RadzenMenuItem>
            <RadzenMenuItem Text="TextArea" Path="textarea" Icon="description"></RadzenMenuItem>
            <RadzenMenuItem Text="Password" Path="password" Icon="payment"></RadzenMenuItem>
            <RadzenMenuItem Text="Numeric" Path="numeric" Icon="aspect_ratio"></RadzenMenuItem>
            <RadzenMenuItem Text="DatePicker" Path="datepicker" Icon="date_range"></RadzenMenuItem>
        </RadzenMenuItem>
        <RadzenMenuItem Text="Dispositivos" Icon="computer">
            <RadzenMenuItem Text="CheckBox" Path="checkbox" Icon="check_circle"></RadzenMenuItem>
            <RadzenMenuItem Text="TextBox" Path="textbox" Icon="input"></RadzenMenuItem>
            <RadzenMenuItem Text="TextArea" Path="textarea" Icon="description"></RadzenMenuItem>
            <RadzenMenuItem Text="Password" Path="password" Icon="payment"></RadzenMenuItem>
            <RadzenMenuItem Text="Numeric" Path="numeric" Icon="aspect_ratio"></RadzenMenuItem>
            <RadzenMenuItem Text="DatePicker" Path="datepicker" Icon="date_range"></RadzenMenuItem>
        </RadzenMenuItem>
        <RadzenProfileMenu>
            <Template>
                <RadzenGravatar Email="user@example.com" Icon="account_circle">
                </RadzenGravatar>
            </Template>
            <ChildContent>
                <RadzenProfileMenuItem Text="Buttons" Path="buttons" Icon="account_circle"></RadzenProfileMenuItem>
                <RadzenProfileMenuItem Text="Menu" Path="menu" Icon="line_weight"></RadzenProfileMenuItem>
                <RadzenProfileMenuItem Text="FileInput" Path="fileinput" Icon="attach_file"></RadzenProfileMenuItem>
                <RadzenProfileMenuItem Text="Dialog" Path="dialog" Icon="perm_media"></RadzenProfileMenuItem>
                <RadzenProfileMenuItem Text="Notification" Path="notification" Icon="announcement"></RadzenProfileMenuItem>
                <RadzenProfileMenuItem Text="Sair" Path="logout" Icon="logout"></RadzenProfileMenuItem>
            </ChildContent>
        </RadzenProfileMenu>
    </RadzenMenu>
</div>


@code {

} 