.adx-page {
    position: relative;
    top: 0;
    height: 100vh;
    overflow: hidden;
}

.adx-main-panel {
    position: relative;
    float: right;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(#1e1e2f, #1e1e24);
    transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
}

.adx-light-mode {
    background: #f5f6fa;
}

::deep .adx-main-panel > .navbar {
    margin-bottom: 0;
    height: 66px;
    background: transparent;
    padding: 0.625rem 0.9375rem;
    position: absolute;
    z-index: 999;
    width: 100%;
}

.adx-main-panel
{
    transition-property: top, bottom, width;
    transition-duration: 0.2s, 0.2s, 0.35s;
    transition-timing-function: linear, linear, ease;
    -webkit-overflow-scrolling: touch;
}

.adx-main-panel > .adx-content {
    padding: 80px 20px 80px 20px;
    height: 100vh;
}

.adx-navbar-toggle-area {
    display: flex;
    align-items: center;
    padding-left: 2px;
}

::deep .adx-navbar-toggle-area img {
    height: 3vh;
}

::deep .adx-navbar-toggle-area .adx-navbar-text {
    color: white;
    font-size: 2em;
    font-weight: 900;
    line-height: 1.05;
    padding-left: 10px;
}

.container-fluid {
    padding-left: 5px;
    margin-right: 0px;
}

::deep .container-fluid button i {
    font-size: 20px;
    padding-left: 5px;
    padding-right: 5px;
}

::deep .container-fluid button i,
::deep .container-fluid a {
    color: #ffffff;
}

::deep .adx-main-panel > .adx-footer {
    height: 66px;
    padding: 0.625rem 0.9375rem;
    position: absolute;
    z-index: 999;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    bottom: 0;
}

.adx-background {
    background: url(images/meteor.svg) !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}